:host {
    width: 100%;
    height: 100%;
    display: block;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #eab700;
}

.chip {
    margin-top: 5px;
}

.chip-container {
    position: relative;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(46, 45, 45);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.chip-control {
    width: 100%;
}

.chip-saturation {
    width: 100%;
}

.label {
    color: #fdc600;
    font-weight: normal;
}

.chip-button-add {
    height: 150px;
    width: 30px;
    background-color: #fdc600;
}

.assign-content {
    background-color: rgb(63, 63, 63) !important;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.compute-content {
    background-color: rgb(63, 63, 63) !important;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.pie-chart-container {
    background-color: rgb(46, 45, 45);
}

.separation-control {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: rgb(46, 45, 45);
    margin-top: 10px;
}

::ng-deep text {
    color: white;
    fill: white;
}

::ng-deep .mat-form-field-ripple {
    background-color: #fdc600 !important;    /* replace this color with your accent color hex code */
}

::ng-deep  .mat-input-element { 
    caret-color: #ffd740 !important;
}

::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
    background-color: rgb(46, 45, 45) !important; 
}

::ng-deep .mat-tab-labels {
    background-color: rgb(46, 45, 45);
}

::ng-deep .mat-tab-header {
    height: 50px;
    background-color: rgb(46, 45, 45);
}

::ng-deep .chart-legend .legend-label  {
    color: #fdc600 !important;
    font-size: smaller !important;
}

::ng-deep circle:hover {
    cursor: pointer;
}

::ng-deep .mat-slide-toggle-content {
    color: #fdc600;
    font-size: smaller;
}

::ng-deep .chart-legend .legend-labels {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: rgb(46, 45, 45) !important;
    border-radius: 0 !important;
    position: absolute !important;
    top: 50px !important;
    width: 100px !important;
    left: 10px !important;
}

::ng-deep .mat-slider-horizontal {
    min-width: 0px !important;
}